body {
    background: linear-gradient(45deg, #8500ff, #5acaff);
    /* 用来固定背景不会随着高度移动 */
    background-attachment: fixed
}

.common-left {
    background-color: #FFF;
    padding: .3rem;
    border-radius: .3rem;
    border-bottom: 1px solid #eee;
}

/* .common-right {
    background-color: #FFF;
    margin-left: .5rem;
    padding: .3rem;
    border-radius: .3rem;
    border-bottom: 1px solid #eee;
} */

.common-main {
    margin-top: .5rem;
}
.common-box{
    background-color: #FFF;
    margin-left: .5rem;
    padding:.3rem;
    border-radius: .3rem;
    border:1px solid #eee;
  }